.Dflex{
    display: flex;
}
.MR10{
    margin-right: 10px;
}
.MR5{
    margin-right: 5px;
}
.Name{
    overflow:hidden ;
    text-overflow: ellipsis;
}
.MB5{
    margin-bottom: 5px;
}
.W100{
    width: 100%;
}
.W400{
    width: 400px;
}
.MT30{
    margin-top: 30px;
}
.AlignItemCenter{
    align-items: center;
}
.JCCenter{
    justify-content: center;
}
.ML5{
    margin-left: 5px;
}
.Gap5{
    gap: 5px;
}
.JustifyContentBetween{
    justify-content: space-between;
}
.CursorPointer{
    cursor: pointer;
}
.Gap10{
    gap: 10px;
}
.label{
    font-family: sans-serif;
}
.FontWeight{
    font-weight: 500;
}
.ML15{
    margin-left: 15px;
}
.Map{
    height: 300px;
    width: 300px;
}
.NoData{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    height: 346px;
}